body{
    background-color:#5286F3;
    font-size:14px;
    color:#fff;
}
.klaraktiv-container{
    justify-content: flex center stretch;
    width: 300px;
    max-width:100%;
    margin:50px auto;
    padding: 10px;
   
}

.klaraktiv-main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 80%;
    padding: 10px;
}

.klaraktiv-system{
    display: flex;
    align-items: left;
    justify-content: left;
    margin: auto;
    width: 20%;
    padding: 10px;
}

.klaraktiv-container h2{
    text-align:center;
    font-size:20px;
}
.klaraktiv-container h1{
    text-align:center;
    font-size:28px;
}
.klaraktiv-container .btn-klaraktiv{
    background-color:#005da8;
    color:#fff;
    text-emphasis-color:#f29400;
}

.klaraktiv-container .btn-save{
    background-color: #009b00;

}

a{
    color:#fff;
}
